{% extends "main/base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
{% load static %}
<div class="container down" style="padding-top: 7rem;">
   <div class="main-body">
      <div class="row gutters-sm">
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                     <img src="{% static 'img/default-user-image.png' %}" alt="Admin" class="rounded-circle"
                        width="150">
                     <div class="mt-3">
                        <h4>{{user.username}}</h4>
                        <p class="text-muted font-size-sm">Бургас, България, Европа</p>
                     </div>
                  </div>
               </div>
            </div>

         </div>

         <div class="col-md-8">
            <div class="card mb-3">
               <form method="POST">
                  {% csrf_token %}
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Потребителско име: </h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                           {{user.username}}
                        </div>
                        <div class="col-sm-5">
                           <input type="text" class="form-control" id="username" name="username"
                              placeholder="Промяна на потребителското име">
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Имейл:</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                           {{user.email}}
                        </div>
                        <div class="col-sm-5">
                           <input type="email" class="form-control" id="email" name="email"
                              placeholder="Промяна на имейл">
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-3">
                           <h6 class="mb-0">Парола:</h6>
                        </div>
                        <div class="col-sm-9">
                           <input type="password" class="form-control" name="password" id="password"
                              placeholder="Промяна на паролата">
                        </div>
                     </div>
                     <hr>
                     <input type="submit" value="Запазване на промените" class="form-control"
                        style="margin-bottom: 10px;">
               </form>
               <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="delete_account" id="delete_account" value="true">
                  <input type="submit" class="form-control" value="Изтриване на акаунта">
               </form>
            </div>
         </div>
         <div class="row gutters-sm">
            <div class="col-sm-12 mb-3">
               <div class="card h-100">
                  <div class="card-body">
                     <h4 class="d-flex align-items-center mb-3">Абонаменти за продукти: </h4>
                     {% for product in products %}
                        <a href="http://localhost:8000/productStats?product_number={{product.productId.productnumber}}">
                           <p>{{product.productId.productname}}</p>
                        </a>
                     {% endfor %}
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}