{% extends 'main/base.html' %}

{% block content %}
<div class="text-center">
    <div class="display-container center">
        </div>
    </div>
    <style>
        .display-container {
            position: center;
        }
        img {
            border-radius: 10px;
        }
        .text-block {
            position: absolute;
            display: inline-block;
            top: 20px;
            left: 20px;
            background-color: azure;
            color: black;
            box-shadow: 0 0 10px 3px rgba(100, 100, 100, 0.7);
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 10px;
        }
    </style>
</div>
{% endblock %}