{% extends "main/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<section id="hero" class="signup">
	<div class="container">
		<div class="signin-content">
			<div class="signin-image">
				<figure><img src="{% static 'img/login-image.jpg' %}" alt="sing up image"></figure>
				<a href="/registerPage/" class="signup-image-link">Създаване на акаунт</a>
			</div>
			<div class="signup-form">
				<h2 class="form-title">Влизане</h2>
				<form method="POST" action="">
					{% csrf_token %}
					<div class="form-group">
						<label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
						<input type="text" name="username" placeholder="Потребителско име">
					</div>
					<div class="form-group">
						<label for="password"><i class="zmdi zmdi-lock"></i></label>
						<input type="password" name="password" placeholder="Парола">
					</div>
					<div class="form-group form-button">
						<input type="submit" class="form-submit" value="Влизане" />
					</div>
					{% for message in messages %}
						<p id="messages">{{message}}</p>
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
<!--

	
</section>
<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex justify-content-center">
				
				
				<h3 id="form-title">LOGIN</h3>
			</div>
			<div class="d-flex justify-content-center form_container">
				<form method="POST" action="">
					{% csrf_token %}
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="username" placeholder="Username..." class="form-control">
					</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" placeholder="Password..." class="form-control" >
					</div>
					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn login_btn" type="submit" value="Login">
					</div>
				</form>
				
			</div>
			
			{% for message in messages %}
			<p id="messages">{{message}}</p>
			{% endfor %}

			<div class="mt-4">
				<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'registerPage' %}" class="ml-2">Sign Up</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
-->