{% extends "main/base.html" %}
{% block title %}ProductStats{% endblock %}
{% block content %}
<h1>{{product.productname}}</h1>
<img src="{{ product.imglink }}" width="400px">
<p>Цена в:</p>
{% for price in prices %}
<a href="{{ price.link }}">
    <p>{{price.storeid.storename}} - {{ price.price }}</p>
</a>
{% endfor %}
{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="product_number_to_subscribe" value="{{ product.productnumber }}">
    <input type="submit" value="Абониране за продукта">
</form>
{% endif %}
{% endblock %}