<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1 style="margin-left: 5%;">Здравейте 👋!</h1>
    <br>
    <p style="font-size: 20px; margin-left: 10%; margin-right: 10%;">Радваме се, че се регистрирахте &#128151 на нашия
        сайт! За да използвате пълните функционалности на нашата платформа, моля потвърдете Вашия имейл, натискайки
        синия бутона долу 🢃.</p>
    <br>
    <a href="http://{{ domain }}/emailVerification/{{ uid }}/{{ token }}"><button
            style="margin-left: 40%; margin-top: 3%; height:50px; width:20%; background-color: #12b0df; color:white; border-radius:200px; border: none; cursor: pointer; font-size: 20px;">Потвърждаване</button></a>
    <br><br>
    <h2 style="margin-left: 10%;">Благодарим!</h4> <br><br>
        <a href="http://{{ domain }}" style="text-decoration: none; font-size: 15px; color: #0b7dbd;">
            <p>Обратно в сайта ⮌<span>🔗</span> </p>
        </a>
</body>

</html>